body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #cccccc;
}

div.lightbox {
  width: 500px;
  position: absolute;
  z-index: 999;
  margin: 0 auto 0 auto;
  background: #fff;
  border: 1px solid #333;
}

div.shadowbox {
  background: #000;
  opacity: 0.8;
  top: 0;
  position: absolute;
  z-index: 998;
  margin: 0;
  width: 100%;
  height: 100%;
}

input[type=button] {
  cursor: pointer;
}

div.test, div.stats {
  border: 1px solid #333;
  margin: 3px 30px 3px 30px;
  padding: 6px;
}

div.stats {
  text-align: center;
  padding-bottom: 30px;
}

div.stats span {
  margin: 5px;
  padding: 5px;
}

div.test p {
  display: inline;
  margin-left: 6px;
}

div.test-running, .tests-running {
  background: #f6ea8c;
}

div.test-passed, .tests-passed {
  background: #99f19e;
}

div.test-failed, .tests-failed {
  background: #c03546;
  color: #fff;
}

div.test input[type=button].hidden {
  display: none;
}
